--el-menu-text-color: #fff;
--el-menu-hover-text-color: #fff;
--el-menu-bg-color: #545c64;
--el-menu-hover-bg-color: rgb(67, 74, 80);
--el-menu-active-color: #ffd04b;
width: 300px;

--el-menu-text-color: #fff;
--el-menu-hover-text-color: #fff;
--el-menu-bg-color: #545c64;
--el-menu-hover-bg-color: rgb(67, 74, 80);
--el-menu-active-color: #ffd04b;
width: 64px;
opacity: 0.2;


style="--el-menu-text-color:#fff; --el-menu-hover-text-color:#fff; --el-menu-bg-color:#545c64; --el-menu-hover-bg-color:rgb(67, 74, 80); --el-menu-active-color:#ffd04b; width: 64px;"